header {
    text-align: center;
    max-width: 200px;
}

header a {
    text-decoration: none;
}

header a:hover {
    color: #8FB365;
}

h1 {
    text-align: center;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    font-weight: bold;
}

p {
    font-size: 1em;
    line-height: 1.6;
}

img {
    display: block;
    margin: auto;
    width: auto;
    height: auto;
    max-width: 500px;
    max-height: 500px;
    margin-bottom: 50px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

#contents {
    display: block;
    margin: auto;
    max-width: 70%;
    background-color: white;
    border: 5px solid #0F2702;
    border-radius: 10px;
}

h2, h3, h4 {
    margin-left: 10px;
}

body {
    background: linear-gradient(176deg, rgba(231,218,205,1) 0%, rgba(201,218,152,1) 100%);
}