* {
    margin: 0px;
    padding: 0px;
}

.container { 
    display: flex;
    flex-direction: column;
}

.responsive {
    width: 100%;
    max-width: 600px;
    height: auto;
}

ol {
    list-style-type: none;
    counter-reset: elementcounter;
    padding-left: 0;
  }
  
  li:before {
    content: "Step " counter(elementcounter) ": ";
    counter-increment: elementcounter;
    font-weight: bold;
  }