
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
    border: solid 1px red;
}

.item {
    border: solid 1px red;
    flex: 0 0 48%; /* Adjust the percentage for margins/padding */
    margin-bottom: 10px; /* Optional: margin between rows */
    height: 100%;
}



body {
    background: linear-gradient(176deg, rgba(231,218,205,1) 0%, rgba(201,218,152,1) 100%);
}